{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "semi": false,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "semi": true,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.py",
      "options": {
        "printWidth": 120,
        "semi": false,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "endOfLine": "auto",
        "printWidth": 120,
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all"
      }
    }
  ]
}
